/*Entete*/

* {
  margin: 0;
  padding: 0;
  list-style-type: none;  
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  box-sizing:border-box; 
  outline:none;
}

#sectionMenu{
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

:root {
  --font-family: 'Fira Sans', sans-serif;
  --font-size:1rem;
}

.dark-mode {
  --navbar-color: #ac57ce;
}

/* Navbar */
.navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;
  max-width: 1680px;  
  margin: 0 auto;
  padding:10px;
  font-size:1.7rem;
  font-weight: 800;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
}
.navbar__logo {
  display:flex;
  align-items:center;
  font-size:2rem;
  font-weight: 1300;
}
.navbar__links { 
  display:flex;  
}
.navbar__link { 
  padding:0 10px;
}
.navbar__link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}

/*  Small device */
@media screen and (max-width:1595.98px) {
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:205px;
    right:0;     
    background:var(--navbar-bg-color);     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar__links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar__link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  }   
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    color:var(--navbar-color);  
    transition: all .4s ease-in-out;
    background-color:white;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:1px;
  }
  
  /* Toggle menu */
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:var(--navbar-color); 
    transition: all .5s ease-in-out;   
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:var(--navbar-color); 
    border-radius:3px;    
    transition: all .5s ease-in-out;
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;    
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
  
  /* Bonus - Animations */
  .show-nav .first {      
    transition: all 1s ease-out;
  } 
  .show-nav .second {      
    transition: all 1.1s ease-out;
  } 
  .show-nav .third {      
    transition: all 1.2s ease-out;
  } 
  .show-nav .four {      
    transition: all 1.3s ease-out;
  } 
  .show-nav .fifth {      
    transition: all 1.4s ease-out;
  }
}

/*  Medium device - Bonus */
@media screen and (min-width:1594px) {
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar__link:hover > a::after {
    width:100%;
  }
}

@media screen and (max-width:768.98px) {
  .navbar__logo h1{
    display:none;
  }
}

/* Fin Entete */




/*Corps*/
.corps {
  max-width: 1500px;
  margin: 0 auto;
}

@media screen and (max-width:1500px) {
  .corps{
    margin-left:30px;
    margin-right:30px;
  }
}
/*Fin Corps*/

/*Connexion*/
.formulaire {
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  padding:10px;
}

.formulaire h1 {
  display:flex; 
  font-size:1.7rem;
  font-weight: 800;
  color:#A9A9A9;
}

.formulaire input[type="text"]{
  padding: 5px;
  margin: 10px;
  height: 40px;
  width: 350px;
  font-size: 1.3rem;
}

.formulaire input[type="password"]{
  padding: 5px;
  margin: 10px;
  height: 40px;
  width: 350px;
  font-size: 1.3rem;
}

.formulaire input[type="email"]{
  padding: 5px;
  margin: 10px;
  height: 40px;
  width: 350px;
  font-size: 1.3rem;
}

.formulaire input[type="number"]{
  padding: 5px;
  margin: 10px;
  height: 40px;
  width: 350px;
  font-size: 1.3rem;
}

.formulaire textarea{
  padding: 5px;
  margin: 10px;
  height: 300px;
  width: 500px;
  font-size: 1.3rem;
}

.formulaire input[type="submit"]{
  padding: 5px;
  margin: 10px;
  font-size: 1.2rem;
  background-color: transparent;
}

.formulaire span{
  color:red;
}

@media screen and (max-width:768.98px) {
  .formulaire input[type="text"]{
    padding: 5px;
    margin: 10px;
    height: 40px;
    width: 300px;
    font-size: 0.9rem;
  }
  
  .formulaire input[type="password"]{
    padding: 5px;
    margin: 10px;
    height: 40px;
    width: 300px;
    font-size: 0.9rem;
  }
  
  .formulaire input[type="email"]{
    padding: 5px;
    margin: 10px;
    height: 40px;
    width: 300px;
    font-size: 0.9rem;
  }
  
  .formulaire input[type="number"]{
    padding: 5px;
    margin: 10px;
    height: 40px;
    width: 300px;
    font-size: 0.9rem;
  }
  
  .formulaire textarea{
    padding: 5px;
    margin: 10px;
    height: 200px;
    width: 300px;
    font-size: 0.9rem;
  }
  
  .formulaire input[type="submit"]{
    padding: 5px;
    margin: 10px;
    font-size: 1.2rem;
    background-color: transparent;
  }
}

.formulaire h2{
  font-size: 1.1rem;
  color: #A9A9A9;
}

.formulaire a{
  color:#ac57ce;
  text-decoration: underline;
}

.conf {
  display: flex;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  padding:10px;
}

.conf h1 {
  display:flex; 
  font-size:1.7rem;
  font-weight: 800;
  color:#A9A9A9;
}

.conf a{
  color:#ac57ce;
  text-decoration: underline;
}

.profil {
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  padding:10px;
}

.profil h1 {
  display:flex; 
  font-size:1.7rem;
  font-weight: 800;
  color:#A9A9A9;
}

.profil a{
  color:#ac57ce;
  text-decoration: underline;
}


/*Fin Connexion*/






/*Accueil*/
.titre1 h1{
  display:flex; 
  font-size:2.5rem;
  font-weight: 400;
  color: #2c75ff ;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom:30px;
}

.photo1{
  margin-top: 10px;
}

.photo1 img{
  display: flex;
  border: 1px solid #ac57ce;
  border-radius: 50%;
  text-align: left;
  justify-content: left;
}

.paragrahe1{
  margin-top: 20px;
}

.paragrahe1 p{
  line-height: 2;
  font-size: 1.45rem;
  text-align: justify;
}

#section2accueil{
  height: 100%;
  background-size: cover;
  background-position: center;
  max-width: 1680px;
  position: relative;
}

.photo2 img{
  display: flex;
  margin: 0 auto;
  border: 1px solid #ac57ce;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
}

.paragraphe2{
  line-height: 2;
  font-size: 1.45rem;
  text-align: left;
}

.paragraphe2 a{
  color: #A9A9A9;
  text-decoration: underline;
}

.paragraphe2 p{
  line-height: 2;
  font-size: 1.45rem;
  text-align: left;
}

/*Fin accueil*/

/*Partenaires*/
.card {
  display: flex;
  margin-top: 30px;
  border-bottom: 2px solid #ac57ce;
  padding-bottom: 10px;
}

.photoCard{
  text-align: right;
  justify-content: right;
  display: flex;
  align-items: right;
}

.photoCard>img{
  margin-left:20px;
  display:flex;
  border: 2px solid #ac57ce;
  border-radius: 50%;
  justify-content: right;
  text-align: right;
}

.descrCard{
  display:flex;
  flex-direction: column;
}

.titreP{
  font-size:1.5rem;
  font-weight: 400;
  color:#A9A9A9;
  text-decoration: underline overline;
  text-underline-position: under;
}

.presentationP{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.lienP{
  margin-top: 25px;
  font-size: 1.2rem;
  text-decoration: underline;
  color:#ac57ce;
  margin-left:20px;
}
/*Fin Partenaires*/

/*Avis*/

.bandeauAvis {
  display: flex;
  margin-top: 30px;
  border: 2px solid #ac57ce;
  border-radius: 3px;

}

.note{
  display:flex;
  font-size:1.5rem;
  font-weight: 800;
  border-right: 2px solid #ac57ce;
  align-items: center;
  justify-content: center;
  padding:10px;
}

.pseudoAvis {
  display:flex;
  align-items: top;
  justify-content: center;
  font-size:1.5rem;
  font-weight: 800;
  color:#A9A9A9;
  padding:10px;
}

.commentaireAvis{
  display:flex;
  font-size: 1.3rem;
  justify-content: center;
  text-align: center;
}

.ajoutAvis {
  display: flex;
  margin: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ajoutAvis button {
  font-size: 1.4rem;
  background-color: transparent;
  width: 300px;
  height: 50px;
  padding: 5px;
  border-color: #ac57ce;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ajoutAvis a {
  color:#ac57ce;
}

.goCon{
  display:flex;
  align-items: top;
  justify-content: center;
  font-size:1.3rem;
  font-weight: 800;
  color:#A9A9A9;
  padding:10px;
}

/*Fin Avis*/

/*Article et podcasts*/
.pdf embed {
  display: flex;
  width: 800px;
  height: 900px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: 3px solid #ac57ce;
  border-radius: 3px;
}

@media screen and (max-width:768.98px) {
  .pdf embed {
    width:400px;
    height:450px;
  }
}


/*Fin article et podcasts*/